body {
	background-image: url("cats/cat-background.jpg");
}

h1
{
    text-align: center;
    background:#f1ee0e;
    padding-left: 100px;       /*➕*/
    padding-right: 100px;       /*➕*/
    padding-top: 20px;       /*➕*/
    padding-bottom: 20px;       /*➕*/
    
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td {
  background-color: #ffffff;
}